@tailwind preflight;
@tailwind components;
@tailwind utilities;

.image-overlay {
    background: linear-gradient(180deg, rgba(120, 186, 232, .7), rgba(73, 85, 203, .7)), url(../images/header-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

.heading {
    color: #334E68;
}

.footer-bg-color {
    background-color: #F0F4F8;
}

.outline-btn-text-color {
    color: #30388E;
}

.overflow-image-left {
    z-index: -1;
    transform: translateX(-50%);
}

.overflow-image-right {
    z-index: -1;
    transform: translateX(50%);
}

.text-color {
    color: #2F365F;
}

.primary-button {
    background-color: #4955CB;
    border-radius: 8px;
    padding: 10px 16px;
}
.primary-button-white {
    background-color: white;
    border-radius: 8px;
    padding: 10px 16px;
}

.primary-button-alt {
    background-color: #4955CB;
    padding: 10px 16px;
}

.primary-button-outline {
    background-color: white;
    border-radius: 8px;
    border: 2px solid #AAB2FD;
    padding: 10px 16px;
    color: #30388E;
}

.primary-button-outline-white {
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid white;
    padding: 10px 16px;
    color: white;
}

.usp-icon {
    background-image: url('../images/Vector.png');
}

@media only screen and (min-width: 992px) {
    .neg-margin {
        margin-top: -200px;
    }
}
