<template>
    <div>
        <Textwithimageleft/>
        <Textwithimageright/>
        <Cases/>
        <Textwithimageleft2/>
        <Customers/>
        <Contactbar/>
        <Latestnews/>
        <Footer/>
        <Footerbottom/>
    </div>
</template>

<script>
import Textwithimageright from '../components/text-with-image-right.vue';
import Textwithimageleft from '../components/text-with-image-left.vue';
import Cases from '../components/cases.vue';
import Textwithimageleft2 from '../components/text-with-image-left2.vue';
import Customers from '../components/customers.vue';
import Contactbar from '../components/contact-bar.vue';
import Latestnews from '../components/latest-news.vue';
import Footer from '../components/footer.vue';
import Footerbottom from '../components/footer-bottom.vue';

export default {
    name: "Home",
    components: {
        Textwithimageleft,
        Textwithimageright,
        Cases,
        Textwithimageleft2,
        Customers,
        Contactbar,
        Latestnews,
        Footer,
        Footerbottom
    }
};
</script>