<template>
    <div class="case-component bg-cover bg-no-repeat pt-12 pb-6 mb-24 relative" style="background-image: url(images/case-detail-background.png); background-color: #D0D5FF; background-blend-mode: multiply;">
        <div class="bottom-dark-gradient absolute pin-x pin-b h-32 z-0" style="background: linear-gradient(359.4deg, #333333 3.15%, rgba(16, 42, 67, 0) 80%); background-blend-mode: multiply; "></div>
        <div class="container px-4 mx-auto flex flex-col-reverse md:flex-row justify-between">
            <div class="left w-full md:w-2/5">
                <h3 class="text-3xl poppins mb-4 font-bold text-white mt-10">Running.Shop</h3>
                <p class="text text-white mb-8 rubik leading-normal">Running.shop is onderdeel van All4running, een van de grootste running webshops in de Benelux. Om de groei internationaal verder door te zetten heeft All4running een nieuwe webshop onder de naam Running.shop opgezet.</p>
                <button class="primary-button-outline-white font-medium text-white tracking-wide font-medium-outline-white text-sm tracking-wide poppins">Lees meer over deze case</button>
            </div>
            <div class="right w-full md:w-2/5">
                <img src="../assets/images/running-shop-case.png" class="block">
            </div>
        </div>
        <div class="case-projects mt-10 z-10 relative">
            <ul class="list-reset flex flex-row justify-between items-center">
                <li class="px-6 py-6 mx-1 sm:mx-6 rounded" style="background-color: rgba(233, 235, 255, .6);"><a href="#"><img src="../assets/images/runningshop_logo.png"></a></li>
                <li class="px-6 py-6 mx-1 sm:mx-6 hidden sm:block"><a href="#"><img src="../assets/images/Dierapotheek-logo.png"></a></li>
                <li class="px-6 py-6 mx-1 sm:mx-6 hidden lg:block"><a href="#"><img src="../assets/images/Dierapotheek-logo.png"></a></li>
                <li class="px-6 py-6 mx-1 sm:mx-6 hidden xl:block"><a href="#"><img src="../assets/images/Dierapotheek-logo.png"></a></li>
                <li class="px-6 py-6 mx-1 sm:mx-6"><button class="primary-button-white font-medium-white font-medium poppins text-color tracking-wide text-sm text-indgo-dark">Bekijk alle cases</button></li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Cases',
    props: {
        msg: String
    }
}
</script>