<template>
    <div class="contact-bar image-overlay py-12 lg:py-20 mb-24">
        <div class="container mx-auto px-4 flex flex-wrap justify-between">
            <div class="content relative pl-16 lg:pl-20 w-full mb-12 lg:mb-0 lg:w-auto">
                <h3 class="text-blue-lighter poppins leading-normal text-xl font-medium mb-2">Geef ons een belletje</h3>
                <a href="#" class="text-white no-underline poppins hover:underline text-xl font-medium">+31 (0)72-710 00 94</a>
                <div class="icon bg-no-repeat bg-center rounded-full border border-solid mt-2 lg:mt-0 border-blue-lighter h-12 w-12 lg:h-16 h-12 w-12 lg:w-16 absolute pin-l pin-t" style="background-image: url('images/phone-icon.png')"></div>
            </div>
            <div class="content relative pl-16 lg:pl-20 w-full mb-12 lg:mb-0 lg:w-auto">
                <h3 class="text-blue-lighter poppins leading-normal text-xl font-medium mb-2">Stuur een berichtje</h3>
                <a href="#" class="text-white no-underline poppins hover:underline text-xl font-medium">+31 (0)72-710 00 94</a>
                <div class="icon bg-no-repeat bg-center rounded-full border border-solid mt-2 lg:mt-0 border-blue-lighter h-12 w-12 lg:h-16 h-12 w-12 lg:w-16 absolute pin-l pin-t" style="background-image: url('images/phone-icon.png')"></div>
            </div>
            <div class="content relative pl-16 lg:pl-20 w-full mb-0 lg:mb-0 lg:w-auto">
                <h3 class="text-blue-lighter poppins leading-normal text-xl font-medium mb-2">Stuur ons een mailtje</h3>
                <a href="#" class="text-white no-underline poppins hover:underline text-xl font-medium">Hello@justbetter.nl</a>
                <div class="icon bg-no-repeat bg-center rounded-full border border-solid mt-2 lg:mt-0 border-blue-lighter h-12 w-12 lg:h-16 h-12 w-12 lg:w-16 absolute pin-l pin-t" style="background-image: url('images/phone-icon.png')"></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Contactbar',
    props: {
        msg: String
    }
}
</script>