<template>
    <div class="onze-klanten">
        <div class="container px-4 mx-auto mb-24">
            <h2 class="text-4xl heading poppins mb-6">Meer dan 40 bedrijven<br>vertrouwen op ons<span class="text-indigo-light poppins">.</span></h2>
            <ul class="-mx-4 p-0 relative overflow-hidden flex flex-wrap">
                <li class="list-reset mb-6 float-left w-1/2 sm:w-1/3 lg:w-1/6 px-4 flex items-center"><a href="#"><img src="../assets/images/All4running.png" class="block"></a></li>
                <li class="list-reset mb-6 float-left w-1/2 sm:w-1/3 lg:w-1/6 px-4 flex items-center"><a href="#"><img src="../assets/images/runningshop_logo.png" class="block"></a></li>
                <li class="list-reset mb-6 float-left w-1/2 sm:w-1/3 lg:w-1/6 px-4 flex items-center"><a href="#"><img src="../assets/images/All4running.png" class="block"></a></li>
                <li class="list-reset mb-6 float-left w-1/2 sm:w-1/3 lg:w-1/6 px-4 flex items-center"><a href="#"><img src="../assets/images/runningshop_logo.png" class="block"></a></li>
                <li class="list-reset mb-6 float-left w-1/2 sm:w-1/3 lg:w-1/6 px-4 flex items-center"><a href="#"><img src="../assets/images/All4running.png" class="block"></a></li>
                <li class="list-reset mb-6 float-left w-1/2 sm:w-1/3 lg:w-1/6 px-4 flex items-center"><a href="#"><img src="../assets/images/runningshop_logo.png" class="block"></a></li>
                <li class="list-reset mb-6 float-left w-1/2 sm:w-1/3 lg:w-1/6 px-4 flex items-center"><a href="#"><img src="../assets/images/All4running.png" class="block"></a></li>
                <li class="list-reset mb-6 float-left w-1/2 sm:w-1/3 lg:w-1/6 px-4 flex items-center"><a href="#"><img src="../assets/images/runningshop_logo.png" class="block"></a></li>
                <li class="list-reset mb-6 float-left w-1/2 sm:w-1/3 lg:w-1/6 px-4 flex items-center"><a href="#"><img src="../assets/images/All4running.png" class="block"></a></li>
                <li class="list-reset mb-6 float-left w-1/2 sm:w-1/3 lg:w-1/6 px-4 flex items-center"><a href="#"><img src="../assets/images/runningshop_logo.png" class="block"></a></li>
                <li class="list-reset mb-6 float-left w-1/2 sm:w-1/3 lg:w-1/6 px-4 flex items-center"><a href="#"><img src="../assets/images/All4running.png" class="block"></a></li>
                <li class="list-reset mb-6 float-left w-1/2 sm:w-1/3 lg:w-1/6 px-4 flex items-center"><a href="#"><img src="../assets/images/runningshop_logo.png" class="block"></a></li>
            </ul>
            <div class="control text-center mt-2">
                <button class="primary-button font-medium text-white text-sm font-medium tracking-wide poppins">Bekijk al onze klanten</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Customers',
    props: {
        msg: String
    }
}
</script>