<template>
    <div class="footer relative">
        <div class="subscribe container px-4 mx-auto relative overflow-hidden mb-12 flex flex-wrap">
            <div class="left w-full lg:w-1/2 float-left">
                <h2 class="text-3xl heading poppins mb-4">Altijd op de hoogte blijven<span class="text-indigo-light poppins">?</span></h2>
                <p class="leading-normal text-indigo-darker">My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it.</p>
            </div>
            <div class="right w-full lg:w-1/2 float-left flex flex-col justify-center">
                <form class="flex flex-row mt-6 lg:mt-0 lg:max-w-sm ml-auto w-full lg:pl-10 xl:pl-0">
                    <input type="text" name="" class="h-10 w-full border border-solid border-grey-light rounded-l-lg p-4 outline-none">
                    <button class="primary-button-alt font-medium-alt poppins tracking-wide text-white text rounded-r-lg">Aanmelden</button>
                </form>
            </div>
        </div>
        <div class="footer-bar px-4 container mx-auto">
            <div class="image-overlay p-12 rounded-lg relative overflow-hidden">
                <ul class="list-reset p-0 pr-4 w-full mb-8 lg:mb-0 lg:w-1/4 float-left widget-1">
                    <li><img src="../assets/images/logo_justbetter_black.png"></li>
                </ul>
                <ul class="list-reset p-0 pr-4 w-full mb-8 lg:mb-0  lg:w-1/4 float-left widget-2">
                    <li><h4 class="font-bold text-lg poppins text-white mb-2 lg:mb-4">Kom langs</h4></li>
                    <li><a href="#" class="no-underline hover:underline text-white leading-normal">Pettermerstraat 7</a></li>
                    <li><a href="#" class="no-underline hover:underline text-white leading-normal">1823 CW, Alkmaar</a></li>
                </ul>
                <ul class="list-reset p-0 pr-4 w-full mb-8 lg:mb-0 lg:w-1/4 float-left widget-3">
                    <li><h4 class="font-bold text-lg poppins text-white mb-2 lg:mb-4">Neem contact op</h4></li>
                    <li><a href="#" class="no-underline hover:underline text-white leading-normal">Hello@justbetter.nl</a></li>
                    <li><a href="#" class="no-underline hover:underline text-white leading-normal">072 - 710 00 94</a></li>
                </ul>
                <ul class="list-reset p-0 pr-4 w-full mb-8 lg:mb-0 lg:w-1/4 float-left widget-4">
                    <li><h4 class="font-bold text-lg poppins text-white mb-2 lg:mb-4">Google partner</h4></li>
                    <li><img src="../assets/images/google-partner.png"></li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Footer',
    props: {
        msg: String
    }
}
</script>