<template>
    <div class="footer-bottom-bar footer-bg-color">
        <div class="inner container mx-auto px-4 pt-16 pb-6 -mt-10 flex flex-col sm:flex-row justify-between">
            <ul class="list-reset p-0 mb-6 sm:mb-0 flex sm:block justify-center">
                <li class="inline">
                    <a href="#" class="text-indigo-darker no-underline hover:underline inline text-sm mr-4">Algemene voorwaarden</a>
                </li>
                <li class="inline">
                    <a href="#" class="text-indigo-darker no-underline hover:underline inline text-sm mr-4">Privacy</a>
                </li>
                <li class="inline">
                    <a href="#" class="text-indigo-darker no-underline hover:underline inline text-sm">Cookies</a>
                </li>
            </ul>
            <ul class="list-reset p-0 flex sm:block justify-center">
                <li class="inline-block mr-6"><img src="../assets/images/social-github.png" class="block" alt=""></li>
                <li class="inline-block mr-6"><img src="../assets/images/social-github.png" class="block" alt=""></li>
                <li class="inline-block mr-6"><img src="../assets/images/social-github.png" class="block" alt=""></li>
                <li class="inline-block"><img src="../assets/images/social-github.png" class="block" alt=""></li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Footerbottom',
    props: {
        msg: String
    }
}
</script>