<template>
    <div>
        <div class="header image-overlay min-h-16 bg-no-repeat bg-cover mb-24" style=" ">
            <div class="container px-4 mx-auto pt-6">
                <div class="navigation flex justify-between align-center">
                    <img src="../assets/images/logo_justbetter_black.png" class="block">
                    <ul class="inline-flex">
                        <li class="inline text-white font-medium mx-4 flex items-center">
                            <a href="#" class="text-white text tracking-wide no-underline poppins hover:underline">Wat wij doen</a>
                        </li>
                        <li class="inline text-white font-medium mx-4 flex items-center">
                            <a href="#" class="text-white text tracking-wide no-underline poppins hover:underline">Wie wij zijn</a>
                        </li>
                        <li class="inline text-white font-medium mx-4 flex items-center">
                            <a href="#" class="text-white text tracking-wide no-underline poppins hover:underline">Ons werk</a>
                        </li>
                        <li class="inline text-white font-medium mx-4 flex items-center">
                            <a href="#" class="text-white text tracking-wide no-underline poppins hover:underline">Nieuws</a>
                        </li>
                        <li class="inline text-white font-medium mx-4 flex items-center">
                            <a href="#" class="text-white text tracking-wide no-underline poppins hover:underline">Vacatures</a>
                        </li>
                        <li class="inline text-white font-medium ml-4 flex items-center">
                            <a href="#" class="text-white text tracking-wide no-underline poppins hover:bg-indigo primary-button font-medium">Contact</a>
                        </li>
                        <li class="inline text-white font-medium ml-4 flex visible md:hidden">
                            <a href="#" class="text-white text tracking-wide no-underline poppins hover:bg-indigo primary-button font-medium">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <h1 class="pt-24 pb-20 text-white text-3xl font-medium leading-normal poppins">
                        Op zoek naar de Magento 2 of Laravel<br>
                        specialist van boven de Randstad?
                    </h1>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Header',
    props: {
        msg: String
    }
}
</script>