<template>
    <div class="laatste-nieuws mb-24">
        <div class="control flex flex-row justify-between items-center container mx-auto px-4">
            <h2 class="text-3xl heading poppins">Het laatste nieuws<span class="text-indigo-light poppins">.</span></h2>
            <div class="arrows">
                <i class="h-8 w-8 bg-no-repeat bg-center inline-block" style="background-image: url('images/Left.png')"></i>
                <i class="h-8 w-8 bg-no-repeat bg-center inline-block" style="background-image: url('images/Right.png')"></i>
            </div>
        </div>
        <div class="masonry-blog container mx-auto px-4 pt-4">
            <p class="text text-indigo-darker mb-8 leading-normal block">Hier komt het laatste nieuws</p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Latestnews',
    props: {
        msg: String
    }
}
</script>