<template>
    <div class="container px-4 mx-auto mb-24">
        <div class="text-with-image flex flex-col lg:flex-row">
            <div class="text w-full lg:w-1/2 mb-20 lg:mb-0 relative">
                <img class="overflow-image-left bg-no-repeat bg-center absolute pin-y pin-l block" src="../assets/images/Magento.png">
                <h2 class="text-4xl heading mb-6 poppins font-bold">De Magento 2 specialist<span class="text-indigo-light poppins">!</span></h2>
                <p class="leading-normal mb-8 text-color">E-commerce en Magento (het meest gebruikte e-commerce platform) zit in ons bloed. Met meer dan 25 middelgrote tot grote realisaties in Magento 1 en Magento 2 zijn wij een voorloper op het gebied van Magento.</p>
                <ul class="p-0 mt-2 mb-8">
                    <li class="mb-4 leading-normal list-reset text-color"><i class="w-3 h-3 mr-3 usp-icon bg-no-repeat inline-block"></i>Uitgebreide Magento 2 en 10 jaar Magento 1 ervaring</li>
                    <li class="mb-4 leading-normal list-reset text-color"><i class="w-3 h-3 mr-3 usp-icon bg-no-repeat inline-block"></i>Onderscheidende cases</li>
                    <li class="mb-4 leading-normal list-reset text-color"><i class="w-3 h-3 mr-3 usp-icon bg-no-repeat inline-block"></i>Marketing, data en conversie driven</li>
                </ul>
                <button class="primary-button font-medium text-white text-sm poppins font-medium tracking-wide">Lees meer over Magento 2</button>
            </div>
            <div class="image w-full lg:w-1/2 text-center lg:text-right pl-0 lg:pl-16">
                <img src="../assets/images/loungeset-mobile-visual.png" class="block mx-auto neg-margin">
                <button class="primary-button-outline font-medium-outline outline-btn-text-color poppins font-medium text-sm tracking-wide mt-8">Lees meer over deze case</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Textwithimageleft',
    props: {
        msg: String
    }
}
</script>