<template>
    <div class="container px-4 mx-auto mb-24">
        <div class="text-with-image flex flex-col-reverse lg:flex-row">
            <div class="image w-full lg:w-1/2 text-center lg:text-left pr-0 lg:pr-12">
                <img src="../assets/images/wij-zijn-justbetter.png" class="block mx-auto">
            </div>
            <div class="text w-full lg:w-1/2 mb-20 lg:mb-0 mt-0 lg:mt-20 relative">
                <img class="overflow-image-right bg-no-repeat bg-center absolute pin-b pin-r block" src="../assets/images/big-bubble.png">
                <h2 class="text-4xl mb-6 poppins heading font-bold">Wij zijn<br>JustBetter<span class="text-indigo-light poppins">!</span></h2>
                <p class="leading-normal mb-8 text-indigo-darker">Wij zijn de Magento (2) en Laravel specialist boven de randstad. We hebben een bewezen achtergrond in techniek, UX design en online marketing met als doel om elke dag weer het maximale uit de online business van onze klanten te halen.</p>
                <p class="leading-normal mb-8 text-indigo-darker">Dit doen we Agile zodat wij en onze klanten flexibel en transparant kunnen omspringen met uiteenlopende online vraagstukken. Samenwerken met JustBetter wordt vaak omschreven als concreet, flexibel, resultaatgericht en innovatief!</p>
                <button class="primary-button font-medium text-white poppins tracking-wide text-sm font-medium">Meer over JustBetter</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Textwithimageleft2',
    props: {
        msg: String
    }
}
</script>