<template>
    <div class="container px-4 mx-auto mb-24">
        <div class="text-with-image flex flex-col-reverse lg:flex-row">
            <div class="image w-full lg:w-1/2 text-center lg:text-left pr-0 lg:pr-12">
                <img src="../assets/images/visual-bnb_loved.png" class="block mx-auto">
                <button class="primary-button-outline font-medium-outline font-medium poppins mt-8 text-sm">Lees meer over deze case</button>
            </div>
            <div class="text w-full lg:w-1/2 mb-20 lg:mb-0 mt-0 lg:mt-20 relative">
                <img class="overflow-image-right bg-no-repeat bg-center absolute pin-y pin-r block" src="../assets/images/Laravel.png">
                <h2 class="text-4xl heading mb-6 poppins font-bold">Jouw ultime maatwerk webapplicatie met Laravel<span class="text-indigo-light poppins">.</span></h2>
                <p class="leading-normal mb-8 text-color">Laravel maakt het mogelijk om op een solide wijze, eenvoudig en snel custom webapplicaties te ontwikkelen. Onze developers werken met Laravel aan de meest uiteenlopende complexe maatwerk vraagstukken.</p>
                <ul class="p-0 mt-2 mb-8">
                    <li class="mb-4 leading-normal list-reset text-color"><i class="w-3 h-3 mr-3 usp-icon bg-no-repeat inline-block"></i>Razendsnel up and running met jouw custom webapplicatie</li>
                    <li class="mb-4 leading-normal list-reset text-color"><i class="w-3 h-3 mr-3 usp-icon bg-no-repeat inline-block"></i>Jarenlange Laravel ervaring</li>
                    <li class="mb-4 leading-normal list-reset text-color"><i class="w-3 h-3 mr-3 usp-icon bg-no-repeat inline-block"></i>Diverse specialistische Laravel integraties</li>
                </ul>
                <button class="primary-button font-medium text-white poppins text-sm tracking-wide font-medium">Lees meer over Laravel</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Textwithimageright',
    props: {
        msg: String
    }
}
</script>