<template>
  <div id="app">
      <Header/>
      <div class="wrapper">
           <router-view />
      </div>
  </div>
</template>

<script>
import Header from './components/header.vue';

export default {
  name: 'app',
  components: {
    Header
  }
}
</script>
